@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Angella';
  src: url(./assets/AngellaWhite.otf);
}

@font-face {
  font-family: 'Belleza';
  src: url(./assets/Belleza-Regular.ttf);
}
